/* SELECTION COLORS*/
::selection {
    background:#f09e9e;
    color:white;
}
 
::moz-selection {
    background:#f09e9e;
    color:white;
}
 
::webkit-selection {
    background:#f09e9e;
    color:white;
}

/* SCROLLBAR */
::-webkit-scrollbar {
width:9px;
height: 8px;
}

::-webkit-scrollbar-thumb {
background-color:#f7c788;
border: 1px black;
    border-radius:10px;
}

::-webkit-scrollbar-track {
background-color:white;
}

/* TOOL TIP */
#s-m-t-tooltip{
max-width:300px;
margin:10px;
padding:5px 3px 5px 5px;
border:.5px solid #ccc;
letter-spacing:1px;
text-transform:uppercase;
font-size:.8em;
background:#fff;
z-index:9999999999!important;
}

/* TEXT DECORATION */
b {
  font-weight:700;
  color:#a6e4f7;
}

u {
  text-decoration:none;
  border-bottom: 1px dotted #e36b71;
}

i {
  color:#6da6c9;
}

hr {
  border: 0;
  height:1px;
  background:#ccc;
  margin-top:2px;
  max-width:790px;
}

/* CONTENT */

html {
  height:100%;
  overflow:hidden;
}

body {
  background-image:url('https://66.media.tumblr.com/672d0aaf70af7907243b394c5231c69a/tumblr_inline_n3m59lZkyJ1qak244.png');
  font-family: 'Open Sans', sans-serif;
  font-size:0.8em;
  color:#454545;
    margin:0;
overflow:hidden;
  height:100%;
}

.title a {
  float:left;
  padding:10px;
  font-family:trebuchet ms;
  margin-left:70px;
  margin-top:-7px;
  color:#b1cc76;
  letter-spacing:2px;
  font-weight:700;
  font-size:1.8em;
  text-decoration:none;
  background:white;
  -webkit-transition: 0.3s ease-in-out;
-moz-transition: 0.3s ease-in-out;
-o-transition: 0.3s ease-in-out;
transition: 0.3s ease-in-out;
}

.title a:hover {
    text-decoration:none;
    color:#90dade;
    -webkit-transition: 0.3s ease-in-out;
-moz-transition: 0.3s ease-in-out;
-o-transition: 0.3s ease-in-out;
transition: 0.3s ease-in-out;
}

#header {
  margin-top:60px;
}

#links{
  float:right;
  padding:10px;
  margin-right:70px;
  font-size:1em;
  background:white;
}

#links a {
  color:#8c8c8c;
  letter-spacing:1px;
  text-decoration:none;
  text-transform:uppercase;
  -webkit-transition: 0.3s ease-in-out;
-moz-transition: 0.3s ease-in-out;
-o-transition: 0.3s ease-in-out;
transition: 0.3s ease-in-out;
}

#links a:hover {
  color:#ccc;
  text-decoration:none;
  text-transform:uppercase;  
  letter-spacing:1px;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

#container {
  text-align:center;
  background:white;
  margin:auto;
  width:80%;
  border-left:1px solid #e3e3e3;
  border-right:1px solid #e3e3e3;
  padding:20px;
overflow:scroll;
  height:100%;
}

.content {
  margin-bottom:50px;
  margin-left:70px;
  margin-right:70px;
  text-align:justify;
  text-transform:uppercase;
  padding:10px;
  line-height:120%;
  font-family:'Open Sans', sans-serif;
  font-size:1em;
  letter-spacing:1px;
  min-height: 100%;
}

.content b {
  color:#bf2431;
  font-size:1.5em;
}

.content a{
  text-decoration:underline;
    color:#bf2431;
}

.content a:hover{
  
}


.footer {
  text-align:justify;
  font-family:trebuchet ms;
  font-size:1em;
  min-height: 100%;
}

.column{
    float:left;
    padding:20px;
    width:33%;
    text-align:left;
    display:inline;
}

.column img {
    max-width:100%;
    border:1px #ccc solid;
    padding:0px;
}

.column2 {
    float:left;
    padding:20px;
    width:50%;
    text-align:left;
    display:inline;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

img {
  opacity:1;
    -webkit-transition: 0.3s ease-in-out;
-moz-transition: 0.3s ease-in-out;
-o-transition: 0.3s ease-in-out;
transition: 0.3s ease-in-out;
}

img:hover {
  opacity:.8;
    -webkit-transition: 0.3s ease-in-out;
-moz-transition: 0.3s ease-in-out;
-o-transition: 0.3s ease-in-out;
transition: 0.3s ease-in-out;
}