/* SELECTION COLORS*/
::selection {
    background:#f09e9e;
    color:white;
}
 
::moz-selection {
    background:#f09e9e;
    color:white;
}
 
::webkit-selection {
    background:#f09e9e;
    color:white;
}

/* SCROLLBAR */
::-webkit-scrollbar {
width:9px;
height: 8px;
}

::-webkit-scrollbar-thumb {
background-color:#f7c788;
border: 1px black;
    border-radius:10px;
}

::-webkit-scrollbar-track {
background-color:white;
}

/* TOOL TIP */
#s-m-t-tooltip{
max-width:300px;
margin:10px;
padding:5px 3px 5px 5px;
border:.5px solid #ccc;
letter-spacing:2px;
text-transform:uppercase;
font-size:9px;
background:#fff;
z-index:9999999999!important;
}

/* TEXT DECORATION */
b {
  font-weight:700;
  color:#a6e4f7;
}

u {
  text-decoration:none;
  border-bottom: 1px dotted #e36b71;
}

i {
  color:#6da6c9;
}

hr {
  border: 0;
  height:1px;
  background:#ccc;
  margin-top:2px;
  max-width:790px;
}

/* CONTENT */

html {
  height:100%;
  overflow:hidden;
}

body {
  background-image:url('https://66.media.tumblr.com/672d0aaf70af7907243b394c5231c69a/tumblr_inline_n3m59lZkyJ1qak244.png');
  font-family: 'Open Sans', sans-serif;
  font-size:0.8em;
  color:#454545;
    margin:0;
overflow:hidden;
  height:100%;
}

#header {
  margin-top:60px;
}

.title a {
  float:left;
  padding:10px;
  font-family:trebuchet ms;
  margin-left:70px;
  margin-top:-7px;
  color:#b1cc76;
  letter-spacing:2px;
  font-weight:700;
  font-size:1.8em;
  text-decoration:none;
  background:white;
  -webkit-transition: 0.3s ease-in-out;
-moz-transition: 0.3s ease-in-out;
-o-transition: 0.3s ease-in-out;
transition: 0.3s ease-in-out;
}

.title a:hover {
    text-decoration:none;
    color:#90dade;
    -webkit-transition: 0.3s ease-in-out;
-moz-transition: 0.3s ease-in-out;
-o-transition: 0.3s ease-in-out;
transition: 0.3s ease-in-out;
}

#links{
  float:right;
  padding:10px;
  margin-right:70px;
  font-size:1em;
  background:white;
}

#links a {
  
  color:#8c8c8c;
  letter-spacing:1px;
  text-decoration:none;
  text-transform:uppercase;
  -webkit-transition: 0.3s ease-in-out;
-moz-transition: 0.3s ease-in-out;
-o-transition: 0.3s ease-in-out;
transition: 0.3s ease-in-out;
}

#links a:hover {
  color:#ccc;
  text-decoration:none;
  text-transform:uppercase;  
  letter-spacing:1px;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

#container {
  text-align:center;
  background:white;
  margin:auto;
  width:80%;
  border-left:1px solid #e3e3e3;
  border-right:1px solid #e3e3e3;
  padding:20px;
overflow:scroll;
  height:100%;
}

.content {
  margin-bottom:50px;
  margin-left:70px;
  margin-right:70px;
  text-align:justify;
  padding:10px;
  line-height:2;
  font-family:trebuchet ms;
  font-size:1em;
  min-height: 100%;
}

.footer {
  text-align:justify;
  font-family:trebuchet ms;
  font-size:1em;
  min-height: 100%;
}

.column {
  float: left;
  width: 32%;
  padding: 5px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}



/* pop up stuff */
.myImg {
    cursor: pointer;
    transition: 0.3s;
}

.myImg:hover {
  opacity: 0.9;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}